<h2><u><%= @card.name %></u></h2>

<p>
    <b>Name:</b> <%= @card.name %><br>
    Expansion: <%= @card.expansion %><br>
    Artist: <%= @card.artist %><br>
    Mana Cost: <%= @card.mana_cost %><br>
    Colours: <%= @card.colors %><br>
    Rarity: <%= @card.rarity %><br>
    Text: <%= @card.text %><br>
    Types: <%= @card.all_type %>
</p>
