<h2><u><%= @card.name %></u></h2>
<% expansion_names = "" %>
<% @card.expansions.each {|exp| expansion_names << "#{exp.expansion_name}, "} %>
<% artist_names = "" %>
<% @card.artists.each {|art| artist_names << "#{art.artist_name}, "} %>
<p>
    <b>Name:</b> <%= @card.name %><br>
    <b>Expansion:</b> <%= expansion_names %> <br>
    <b>Artist:</b> <%= artist_names %><br>
    <b>Mana Cost:</b> <%= @card.mana_cost %><br>
    <b>Colours:</b> <%= @card.colors %><br>
    <b>Rarity:</b> <%= @card.rarity %><br>
    <b>Text:</b> <%= @card.text %><br>
    <b>Types:</b> <%= @card.all_type %>
</p>
