<!DOCTYPE html>
<html>
  <head>
    <title>MTG Finder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>MTG Finder</h1>
      <ul>
        <li><%= link_to "Home Page", cards_path %></li>
        <li><%= link_to "Search by Name", search_path %></li>
        <li>Advanced Search</li>
        <li><%= link_to "Random Card", controller: "cards", action: "show", id: rand(Card.count) %></li>
        <li><%= link_to "About Page", about_path %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
